<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam soluta cumque
    cum architecto nemo. Ex veritatis eos tempore dolores recusandae!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">John Smith</h3>
        <p class="media__description">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
